{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<div>
<div class="flex inline-flex space-x-20 mx-4 my-8">

<figure class="bg-slate-800 rounded-xl mx-auto p-8  dark:bg-orange-300">
    <img class="w-24 h-24 rounded-full mx-auto" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/277098431_1348224985678643_5422800770547975578_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFh1j09N1NXcKplBVYDSGBskc9--tAsclqRz3760CxyWoCMkH6iNyJfw4inqYGFx9Wn98n897Repqa4NnB6-XUv&_nc_ohc=g8oRBVYg6nkAX_R7tLM&_nc_ht=scontent-nrt1-1.xx&oh=00_AT906uHpbv-BlDrkmBWctgdlHIbVr9HG1qkytM9iy5CBzA&oe=629E911F" alt="" width="384" height="512">
        <div class="pt-6 text-center space-y-4">
            <blockquote>
                <p class="text-lg font-medium text-white">
                    “Starting today, I need to forget what’s gone. Appreciate what still remains and look forward to what’s coming next.”
                </p>
            </blockquote>
            <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-orange-500">
                    Reymart Roa
                </div>
                <div class="text-slate-700 dark:text-slate-500">
                    Project Manager
                </div>
            </figcaption>
        </div>
</figure>

<figure class="bg-slate-100 rounded-xl p-8 dark:bg-orange-500">
    <img class="w-24 h-24 rounded-full mx-auto" src="https://scontent.fmnl4-5.fna.fbcdn.net/v/t39.30808-1/276152595_4865554180196474_8284502514506317495_n.jpg?stp=dst-jpg_p160x160&_nc_cat=111&ccb=1-7&_nc_sid=7206a8&_nc_eui2=AeH5X_zXZ3FfZ8G9U2LvoruvkrPYwJtZ11-Ss9jAm1nXXzOyne6jgAv6UsxHER66ANTZlU3fZ_nMJBu3yknd-NCZ&_nc_ohc=zpsBNi4pCo4AX9QbyTl&_nc_ht=scontent.fmnl4-5.fna&oh=00_AT9JAZAVDyIS5JRmSFeUTgIhYWUVytfBSr8TpVS1nHRckA&oe=62A120B1" alt="" width="384" height="512">
        <div class="pt-6 text-center space-y-4">
            <blockquote>
                <p class="text-lg font-medium text-white">
                    “Starting today, I need to forget what’s gone. Appreciate what still remains and look forward to what’s coming next.”
                </p>
            </blockquote>
            <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-orange-300">
                    Justine Saburao
                </div>
                <div class="text-slate-700 dark:text-slate-500">
                    Programmer
                </div>
            </figcaption>
        </div>
</figure>

<figure class="bg-slate-100 rounded-xl p-8 dark:bg-orange-300">
    <img class="w-24 h-24 rounded-full mx-auto" src="https://scontent.fdvo2-1.fna.fbcdn.net/v/t1.6435-9/91625853_1339191062948310_7571871465599926272_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeENcD4oGnnwUJ6HqKvN0AxR7aQfKizxcZvtpB8qLPFxmy4UtNQbEv1CnqaHi8JyCfrkRqaGvmV9CPbDF5tu74Jp&_nc_ohc=l4dWSdbJW8cAX9iMIcM&_nc_ht=scontent.fdvo2-1.fna&oh=00_AT9wPAL_JhPo7MyDTMRUZnsHXAGNGaEPV3XBVYa4RvShQw&oe=62B959A1" alt="" width="384" height="512">
        <div class="pt-6 text-center space-y-4">
            <blockquote>
                <p class="text-lg font-medium text-white">
                    “Starting today, I need to forget what’s gone. Appreciate what still remains and look forward to what’s coming next.”
                </p>
            </blockquote>
            <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-orange-500">
                    Jonas Cabanero
                </div>
                <div class="text-slate-700 dark:text-slate-500">
                    Programmer
                </div>
            </figcaption>
        </div>
</figure>

<figure class="bg-slate-100 rounded-xl p-8 dark:bg-orange-500">
    <img class="w-24 h-24 rounded-full mx-auto" src="https://scontent.fdvo2-1.fna.fbcdn.net/v/t1.6435-9/134481678_3798531296859746_1027838432332886311_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGxj5KpCoNjrl7Sehw_saE71pNoTJ4sL1_Wk2hMniwvX2iTPNvywZWQVUBLCl4r_ciz1Ird3XizZtxKQWZlmBC_&_nc_ohc=og61DTW1kjwAX-flmNp&_nc_ht=scontent.fdvo2-1.fna&oh=00_AT9K_2KZACorwyWgTbndGbaKnr9ONYbZFeIxp77qtnRQGA&oe=62BAA703" alt="" width="384" height="512">
        <div class="pt-6 text-center space-y-4">
            <blockquote>
                <p class="text-lg font-medium text-white">
                    “Starting today, I need to forget what’s gone. Appreciate what still remains and look forward to what’s coming next.”
                </p>
            </blockquote>
            <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-orange-300">
                    Joey Saplot
                </div>
                <div class="text-slate-700 dark:text-slate-500">
                    Tester
                </div>
            </figcaption>
        </div>
</figure>
</div>

{% endblock %}